<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<a class="button" href="/figures">Figures</a>

<br>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>
    <td>
        <% @figure.titles.each do |title| %>
            <li><%= title.name %></li>
        <% end %>
    </td>
    <td>
        <% @figure.landmarks.each do |landmark| %>
            <li><%= landmark.name %></li>
        <% end %>
    </td>
  </tr>
<table>
